<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#myTable').DataTable();
        });        

    </script>

 </head>
  <body>

    <table id="myTable" class="table table-hover table-striped table-dark">
        <thead>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Extension</th>
            <th>Email</th>
            <th>Office Code</th>
            <th>Reports To</th>
            <th>Job Title</th>
        </thead>
        <tbody>
        <% results.map((row)=>{ %>
            <tr>
                <td><%=row.lastName%></td>
                <td><%=row.firstName%></td>
                <td><%=row.extension%></td>
                <td><%=row.email%></td>
                <td><%=row.officeCode%></td>
                <td><%=row.reportsTo%></td>
                <td><%=row.jobTitle%></td>
            </tr>
        <% }); %>
        </tbody>
    </table>

 </body>
</html>